{% extends 'base.html' %}
{% from 'macros.html' import render_field, submit_button %}
{% block title %}{{ title }} | FinTrack INR{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-lg-7">
    <div class="ft-card p-4 p-lg-5">
      <h1 class="h3 fw-bold mb-4">{{ title }}</h1>
      <form method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.wallet_name) }}
        {{ render_field(form.wallet_type) }}
        {{ render_field(form.opening_balance) }}
        {{ submit_button('Save Wallet') }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
